* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 80px;
    color: rgb(254, 203, 1);
}

body {
    background-color: black;
}

.container {
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin-bottom: 40px;
}

.card img {
    height: 385px;
    object-fit: cover;
}